* {
  /*outline: 1px dotted orange;*/
}

/*header section*/
header {
  width: 960px;
  font-family: 'Prompt', sans-serif;
  font-size: 36px;
  padding: 20px 0px;
  background-color: #ff0a16;
  color: #fff;
  margin-bottom: 30px;
}
span {
  font-family: 'Proza Libre', sans-serif;
}

/*main section*/
body {
  font-family: 'Prompt', sans-serif;
  width: 960px;
  background-color: #ddd;
  margin: 0px auto;
  text-align: center;
}

img {
  width: 300px;
  height: 400px;
  display: inline;
  cursor: pointer;
}

button {
  border: none;
  background-color: #ff0a16;
  font-family: 'Prompt', sans-serif;
  color: #fff;
  padding: 6px 15px;
  border-radius: 2px;
  cursor: pointer;
}
table {
  width: 400px;
  height: 500px;
  margin: 20px auto;
}

table .headerCells {
  background-color: #ff0a16;
  color: #fff;
  border: 1px dotted #fff;
}

table .allCells {
  border: 1px dotted #000;
  background-color: #fff;
}

.start {
  display: inline;
}

#start {
  margin: 20px auto;
}

/*footer section*/
footer {
  padding: 10px 0px;
  background-color: #ff0a16;
  color: #fff;
}

/*item visibility*/
.hidden {
  visibility: hidden;
}

.active {
}
