* {
  /*outline: 1px dotted orange;*/
}

/*header section*/
header {
  width: 960px;
  font-family: 'Prompt', sans-serif;
  font-size: 36px;
  padding: 20px 0px;
  background-color: #ff0a16;
  color: #fff;
  margin-bottom: 30px;
}
span {
  font-family: 'Proza Libre', sans-serif;
}

/*main section*/
body {
  font-family: 'Prompt', sans-serif;
  width: 960px;
  background-color: #ddd;
  margin: 0px auto;
  text-align: center;
}

img {
  width: 300px;
  display: inline;
  /*margin: 30px 10px;*/
}

/*footer section*/
footer {
  padding: 10px 0px;
  background-color: #ff0a16;
  color: #fff;
}
